.grid{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;

    h1{
        font-family: 'Abel', sans-serif;
        font-size: 22px;
    }
}

.grid-content{
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-gap: 40px;
    position: relative;
    animation: animateGrid 0.5s;

    @keyframes animateGrid{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}