.movierow{
    position: relative;
    padding-top: 2%;
    overflow-x: hidden;

    h1{
        font-family: sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #fff;
        margin: 0 0 1% 12.2%;

        @media screen and (max-width: 775px){
            &:first-child{margin-top: 15px;}
            margin-bottom: 10px;
        }
    }

    .movierow-content{
        display: flex;
        transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        min-width: 3350px; /*220%*/
    
        .cards{
            opacity: 0.8;
            margin: 0 20px 20px 20px;

            &:hover{
                opacity: 1;
                transform: scale(1.1);
                transition: transform ease-out .2s;
            }

            @media screen and (max-width: 775px){
                margin: 0 20px 20px 3px;
            }

            @media screen and (max-width: 500px){
                opacity: 1;  
            }

            .card{
                width: 130px;
            }
        }
    }

    .arrow{
        z-index: 999;
        color: rgba(255, 255, 255, .5);
        background-color: rgba(2, 102, 208, .2);
        border-radius: 50%;
        position: absolute;
        cursor: pointer;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        transition: transform ease-out .2s;

        &::after{
            content: '>>>>...';
            display: flex;
            height: 100%;
            border-radius: 50%;
            background-color: rgba(2, 102, 208, .2);
            color: rgba(2, 102, 208, .2);
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .3s;
        }

        &:hover{
            color: rgba(255, 255, 255, 1);
            box-shadow: 0 10px 20px rgba(0,0,0,.2);
            background-color: rgba(2, 102, 208, .8);
  
            &::after{
              transform: scale(1.6);
              background-color: rgba(2, 102, 208, .8);
              opacity: 0;
            }
          }
  
        &:active{
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
            background-color: rgba(2, 102, 208, .8);

            &::after{
                transform: scale(.5);
                background-color: rgba(2, 102, 208, .8);
                opacity: 1;
            }
        }

        @media screen and (max-width: 500px){
            color: rgba(255, 255, 255, 1);
            background-color: rgba(2, 102, 208, 1);   
        }
    }

    .backarrow{
        bottom: 7%;
        left: 35%;

        &:hover{
            transform: translateX(-10px);
        }
  
        &:active{
            transform: translateX(-5px);
        }

        @media screen and (max-width: 1080px){
            left: 30%
        }

        @media screen and (max-width: 500px){
            left: 15%
        }
    }

    .nextarrow{
        bottom: 7%;
        right: 35%;

        &:hover{
            transform: translateX(10px);
        }
  
        &:active{
            transform: translateX(5px);
        }

        @media screen and (max-width: 1080px){
            right: 33%
        }

        @media screen and (max-width: 500px){
            right: 15%
        }
    }
}