.movieinfo{
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    padding: 40px 20px;
    animation: animateMovieInfo 1s;

    .movieinfo-content{
        max-width: 1280px;
        min-height: 450px;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        position: relative;
    }

    .movieinfo-thumb{
        width: 300px;
        float: left;
    }

    .movieinfo-text{
        font-family: Arial, Helvetica, sans-serif;
        padding: 40px;
        color: #fff;
        overflow: hidden;

        h1{
            font-family: 'Abel', sans-serif;
            font-size: 48px;
            margin: 0;
        }

        h3{
            font-size: 16px;
            line-height: 0;
            margin: 30px 0 20px 0;
        }

        p{
            font-family: 'Abel', sans-serif;
            font-size: 18px;
            line-height: 26px;
            
            &:first-of-type{margin: 10px 0 15px 0;}
        }
    }

    .rating-director{
        display: flex;
        justify-content: flex-start;
    }

    .score{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        background: #fff;
        color: #000;
        font-weight: 800;
        border-radius: 25px;
        margin: 15px 0 0 0;
    }

    .director{
        margin: 0 0 0 40px;

        p:first-of-type{
            margin: 10px 0 0 0;
        }
    }

    @keyframes animateMovieInfo{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}