.header{
    background: #1c1c1c;
    padding: 0 20px;

    .header-content{
        max-width: 1280px;
        min-height: 120px;
        padding: 20px 0;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .react-logo{
            width: 250px;
            margin-top: 20px;
        }

        .api-logo{
            width: 122px;
            margin-top: 25px;
        }
    }
}