*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Abel', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(165deg, #251431 0%, #161130 22%);
}